# Bug in RedHat 6.5, fix will be shipped with 6.6
# Ref: https://bugzilla.redhat.com/show_bug.cgi?id=1032691
policy_module(my-zabbix-agent, 0.1.0)

require{
  type zabbix_agent_t;
  type var_lib_t;
  type mysqld_var_run_t;
  class file { read open };
  class sock_file { write };
}

kernel_read_network_state(zabbix_agent_t)
domain_read_all_domains_state(zabbix_agent_t)
dev_read_sysfs(zabbix_agent_t)
corenet_tcp_connect_all_ports(zabbix_agent_t)

#============= zabbix_agent_t ==============
allow zabbix_agent_t var_lib_t:file { read open };
allow zabbix_agent_t mysqld_var_run_t:sock_file { write };
